### Required variables
# You need to define this in both production and development environment.
LETTERBOXD_USERNAME=
LETTERBOXD_PASSWORD=

### Optional variables
# Below variables can be set in development environment, but are not required.
S3_REGION=
S3_URL=
S3_BUCKET_NAME=
S3_SECRET_KEY=
S3_ACCESS_KEY=

LETTERBOXD_BACKUP_FREQUENCY=

SECRETS_ARE_ENCRYPTED=
# Those both variables are required if `SECRETS_ARE_ENCRYPTED` is set to `"true"`.
SECRETS_DECRYPTION_KEY_PASSPHRASE=
# This should be set to the value of an exported private key, *including armor/headers*, where newlines are replaced with `\n`.
# To do the `\n` formatting you can use this simple shell command `awk '{printf "%s\\n", $0}' <<< "$YOUR_KEY"`.
SECRETS_DECRYPTION_KEY=
